    body{
        font-family: sans-serif;
        padding: 0;
    }


    /*container-1*/
    .container-1{
        width:70%;
        margin:auto;
    }

    .header{
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        

    }
    .logo{
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        margin: 50px;
        padding-bottom: 35px;
    }

    .T{
        background-color:rgb(19, 113, 229);
        padding-left: 7px;
        padding-top: 3px;
        width: 17px;
        height: 21px;
        border-radius: 15px;
        color:white;
        font-size: 100%;
    }

    .links {
        font-family: sans-serif;
        padding-left: 7px;
        padding-top: 3px;
        padding-bottom: 25px;
        margin: 50px;
        }

    .links ul{
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        list-style: none ;
        
    }

    .links ul li {
        margin: 10px;
    }

    .links a {
        text-decoration: none;
    }

    .links a:link {
        color: grey;
    }

    .links ul li a:hover {
        color:  black;
    }

    .links a:active {
        color:  grey;
    }

    .links a:visited {
        color:  grey;
    }


    .vhead{
        margin : 50 px ;
        padding-left: 30px;
        padding-bottom:120px;
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
    }

    .vtext{
        padding-left: 22px;
        padding-bottom: 100px;
        
    }

    .vtitle{
        font-size: 28px;
    }

    .vinfo{
        font-size: 13px; 
        color:grey
    }

    .btn button{
        padding-left: 10px;
        border : none ;
        background:rgb(19, 113, 229);
        width: 170px;
        height: 40px;
        border-radius: 25px;
        color:white;
        font-size: 14px;
        margin-top: 20px;
    }

    .btn button:hover {
        background-color: #0056b3; 
    }
    .btn button:active {
        background-color: #003d80; 
        transform: scale(0.98); 
    }

    .image img{
        padding-left: 400px;
        padding-right: 50px;
        border : 2px solid black;
        width:fit-content;
        margin : 0 ;
        padding : 0 ;

    }


    /*services*/
    .services{
        display : flex ;
        justify-content : center ;
        align-items : center ;
        width:70%;
        margin:auto;
    }

    .ser-text{
        align-items : center ;
    }

    .ser-title{
        align-items : center ;
        padding-left: 265px; 
        font-size: 21px;
        padding-bottom: 6px;
       
    }

    .underline{
        border-bottom: 2px solid black; 
        width: 35px; 
        margin: 0 auto 20px auto;
    }


    /*ser-cards*/
    .ser-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 25px 3px;
        width:55%;
        margin:auto;
        padding-top: 50px;
        padding-left: 80px;
    }

    .card-img{
        width: 40px;
        height: 50px;
        margin-bottom: 15px;
    }

    .card {
        background-color: white; 
        border: 1px solid white; 
        border-radius: 10px; 
        padding: 20px;
        width: 200px;
        height: 180px;
        text-align: left;
        font-family: sans-serif;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .vcard{
        font-size: 13px; 
        color:grey ;
        padding-bottom: 30px;
    }

    .ser-btn button{
        justify-content : center ;
        align-items : center ;
        border : 1px solid rgb(19, 113, 229) ;
        background:white;
        width: 150px;
        height: 40px;
        border-radius: 25px;
        color:rgb(19, 113, 229);
        font-size: 14px;
        margin-top: 25px; 
        margin-left: 320px;
    }

    .ser-btn button:hover {
        background-color: #1f538a; 
    }
    .btn button:active {
        background-color: #1f538a; 
        transform: scale(0.98); 
    }


    /*container-2*/
    .container-2{
        width:65%;
        margin:auto;
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        margin-top: 130px;
    }       

    .con2data{
        padding-right:105px;
    }

    .con2-btn button{
        justify-content : center ;
        align-items : center ;
        border : 1px solid rgb(19, 113, 229) ;
        background:white;
        width: 150px;
        height: 40px;
        border-radius: 25px;
        color:rgb(19, 113, 229);
        font-size: 14px;
        margin-top: 25px; 
        margin-left: 0px;
    }

    .con2-btn button:hover {
        background-color: #1f538a; 
    }
    .con2-btn button:active {
        background-color: #1f538a; 
        transform: scale(0.98); 
    }


    /*container-3*/
    .container-3{
        width:65%;
        margin:auto;
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        margin-top: 80px;
    }
    
    .con3-btn button{
        justify-content : center ;
        align-items : center ;
        border : 1px solid rgb(19, 113, 229) ;
        background:white;
        width: 150px;
        height: 40px;
        border-radius: 25px;
        color:rgb(19, 113, 229);
        font-size: 14px;
        margin-top: 25px; 
        margin-left: 0px;
    }

    .con3-btn button:hover {
        background-color: #1f538a; 
    }
    .con3-btn button:active {
        background-color: #1f538a; 
        transform: scale(0.98); 
    }


    /*container-4*/
    .container-4{
        display: flex;
        justify-content: center;
    }

    .cont4-data{
        margin-top: 200px;
        background: linear-gradient(to bottom right, #63c0fe, #548df0);
        color: white;
        padding: 10px;
        border-radius: 25px;
        width:50%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding-bottom: 50px;
    }

    .underline-2{
        width: 50px;
        height: 3px;
        background: white;
        border: none;
        margin: 10px 360px 30px;
    }

    .cust-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cust-info{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-top: 60px;
    }

    .cust-img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 4px solid white;
    }

    .cust-name h5 {
        margin: 0;
        font-size: 1em;
        font-weight: bold;
    }

    .cust-name p {
        margin: 8px 25px 5px auto;
        font-size: 0.95em;
        color:#e0e0e0;
    }

    .cust-text{
        margin-right: 100px;
        width: 325px;
        font-size: 1em;
        margin-top: 35px;
        color:#e0e0e0;
    }


    /*arrow*/
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
    }

    .arrow button {
        border: none;
        background-color: transparent;
        font-size: 30px;
        color: #1668cb;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .arrow button:hover {
        transform: scale(1.2);
    }

    .points {
        display: flex;
        gap: 12px;
    }

    .dot {
        height: 7px;
        width: 7px;
        background-color: #859bb7;
        border-radius: 50%;
        display: inline-block;
        transition: transform 0.2s ease;
    }

    .dot:hover {
        transform: scale(1.3);
        background-color: #0051ff;
    }


    /*container-5*/
    .container-5{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }


    /*cont5-cards*/
    .cont5-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 10px 3px;
        width:65%;
        margin:auto;
        padding-top: 50px;
        padding-left: 80px;
    }

    .card-2{
        
        background: white;
        border-radius: 16px;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
        width: 300px;
        padding: 0 0 20px;
        text-align: left;
        transition: transform 0.3s ease;
    }
    .card-2-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .card-2-head{
        font-size: 15px;
        margin: 12px 16px 16px;
    }

    .vcard-2{
        font-size: 14px;
        color: grey;
        margin: 0 16px 16px;
    }

    .card-2 a {
        display: block;
        margin: 0 16px;
        color: #276ef1;
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        padding-top: 10px;
        
    }


    /*container-6*/
    .container-6{
        width:75%;
        margin:auto;
        display : flex ;
        justify-content : space-between ;
        align-items : center ;
        height: 400px;
        margin-top: 130px;
        background: linear-gradient(to bottom right, #63c0fe, #548df0);
    }

    .cont6-head{
        padding-top:270px;
        text-align: left;
    }

    .cont6-text{
        color:#e0e0e0;
        padding-bottom:600px;
        padding-left:130px;
        margin-top:-90px;
        font-size:15px;

    }
    .list{
        margin-right:50px;
    }
    .list h5 {
        font-size: 15px;
        margin-bottom: 15px;
        color:white;
    }

    .list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list li {
        margin-bottom: 10px;
        color: #e0e0e0;
        cursor: pointer;
        transition: color 0.3s;
    }

    .list li:hover {
        color: white;
    }    