    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
        color: white;
        font-weight: bold;
        background: #37c36c;
    }
    .logo {
        display: flex;
    }

    .logo-text {
        display:block ;
        line-height: 10px;
    }
   
    .logo img {
        width: 50px;
        height: 50px;
        padding: 10px;
        object-fit: cover;
    }

    
    .image img {
        width: 350px;     
        max-width: 100%;   
        height: auto;     
        display: block;
        padding: 0;
    }

    .links {
        font-family: sans-serif;
    }

    .links ul {
        list-style: none;
        display: flex;
    }

    .links ul li {
        margin: 10px;
    }

    .links a {
        text-decoration: none;
    }

    .links a:link {
        color: white;
    }

    .links a:hover {
        color: white;
        opacity: 50%;
    }

    .links a:active {
        color: white;
    }

    .links a:visited {
        color: white;
    }




    .content1 {
        background: #37c36c;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
        margin-top: 1px;
        padding-top: 20px;
        color: white;
        font-weight: 50%;
        padding-bottom: 30px;
    }

    .content1-text p {
        color: black;
        background-color: white;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
    }

    .answer form label {
        font-weight: bold;
        font-size: 14px;
        margin-left: 30px;
    }

    .answer {
        line-height: 30px;
    }

    #email {
        width: 400px;
        height: 50px;
        border-radius: 30px;
        border: white;
        font-size: large;
        padding-left: 30px;
        padding-right: 30px;
        font-family: "Quicksand", "sans-serif";
    }

    #email::placeholder {
       font-family: "Quicksand", "sans-serif";
        font-size: large;
        font-weight: 0px;
    }

    #email:focus {
        outline: none;
    }

    #send {
        background-color: rgb(45, 160, 114);
        font-family: "Quicksand", "sans-serif";
        border: none;
        height: 50px;
        width: 250px;
        font-size: large;
        border-radius: 30px;
        color: white;
        cursor: pointer;
    }

    #send:hover{
        opacity: 80%;
    }

    iframe {
        border: none;
        width: 350px;
        height: 200px;
    }




    .content2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
        margin-top: 70px;
    }

    .div1,.div2,.div3{
        display: flex;
    }

    .div1_text,.div2_text,.div3_text{
        margin: 0px 10px;
    }

    .div1_font,.div2_font,.div3_font{
        position: relative;
        top: 22px;
    }