.user-contain {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    gap: 20px;
    margin-top: 20px;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
